.description {
  margin: 0;
  font-size: var(--dsw-ui-font-strong);
  line-height: var(--dsw-ui-line-strong);
  color: var(--dsw-alias-label-secondary);
}

.editor {
  margin-top: 24px;
}

@media (max-width: 560px) {
  .editor {
    margin-top: 20px;
  }
}
